doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title HN Feed
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='../public/css/style.css')
  body
    div.container
      // Header
      div.jumbotron.text-center
        h1 HN Feed 
          span.label.label-info  